In [1]:
!pip install numpy
!pip install pandas
!pip install scikit-learn
!pip install scipy

Requirement already satisfied: numpy in c:\users\theop\anaconda3\lib\site-packages (1.20.1)
Requirement already satisfied: pandas in c:\users\theop\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\theop\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\theop\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\theop\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\theop\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: scikit-learn in c:\users\theop\anaconda3\lib\site-packages (0.24.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\theop\anaconda3\lib\site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\theop\anaconda3\lib\site-packages (from scikit-learn) (1.6.2)
Requirement already satisfied: joblib>=0.11 in c:\users\theop\anaconda3\lib\site-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\theop\anaconda3\lib\site-packages (from scikit-learn) (1.20.1)
Requirement already satisfied: scipy in c:\users\theop\anaconda3\lib\site-packages (1.6.2)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in c:\users\theop\anaconda3\lib\site-packages (from scipy) (1.20.1)

In [3]:
!dir

 Volume in drive C is Acer
 Volume Serial Number is C4F6-D929

 Directory of C:\Users\theop\Downloads\datasets_recommander

07/04/2024  11:49 PM    <DIR>          .
07/04/2024  11:46 PM    <DIR>          ..
07/04/2024  11:49 PM    <DIR>          .ipynb_checkpoints
03/26/2003  11:18 PM           171,308 movies.dat
02/28/2003  11:53 PM        24,594,131 ratings.dat
07/04/2024  11:42 PM       191,601,955 title.basics.tsv
07/03/2024  02:32 PM         7,303,489 title.ratings.tsv
07/04/2024  11:49 PM                72 Untitled.ipynb
02/28/2003  11:53 PM           134,368 users.dat
               6 File(s)    223,805,323 bytes
               3 Dir(s)  79,907,545,088 bytes free

In [5]:
import pandas as pd
import numpy as np

In [6]:
# parse users from movielens

user_data = {'id': [], 'gender': [], 'age': [], 'occupation': [], 'zip': []}

with open('users.dat', 'r') as users:
    for line in users:
        data = line.rstrip().split('::')
        user_data['id'].append(data[0])
        user_data['gender'].append(data[1])
        user_data['age'].append(data[2])
        user_data['occupation'].append(data[3])
        user_data['zip'].append(data[4])
        
user_data = pd.DataFrame(data=user_data)

In [7]:
user_data

        id gender age occupation    zip
0        1      F   1         10  48067
1        2      M  56         16  70072
2        3      M  25         15  55117
3        4      M  45          7  02460
4        5      M  25         20  55455
...    ...    ...  ..        ...    ...
6035  6036      F  25         15  32603
6036  6037      F  45          1  76006
6037  6038      F  56          1  14706
6038  6039      F  45          0  01060
6039  6040      M  25          6  11106

[6040 rows x 5 columns]

In [8]:
user_data.describe()

          id gender   age occupation    zip
count   6040   6040  6040       6040   6040
unique  6040      2     7         21   3439
top     3408      M    25          4  48104
freq       1   4331  2096        759     19

In [10]:
occupations = ["other","academic/educator","artist","clerical/admin","college/grad student",
               "customer service","doctor/health care","executive/managerial","farmer","homemaker",
               "K-12 student","lawyer","programmer","retired","sales/marketing","scientist","self-employed",
               "technician/engineer","tradesman/craftsman","unemployed","writer"]

In [12]:
user_data['occupation'] = user_data['occupation'].apply(lambda x: occupations[int(x)])

In [13]:
user_data

        id gender age            occupation    zip
0        1      F   1          K-12 student  48067
1        2      M  56         self-employed  70072
2        3      M  25             scientist  55117
3        4      M  45  executive/managerial  02460
4        5      M  25                writer  55455
...    ...    ...  ..                   ...    ...
6035  6036      F  25             scientist  32603
6036  6037      F  45     academic/educator  76006
6037  6038      F  56     academic/educator  14706
6038  6039      F  45                 other  01060
6039  6040      M  25    doctor/health care  11106

[6040 rows x 5 columns]

In [24]:
# parse movies from movielens

movie_data = {'id': [], 'title': [], 'genres': []}

with open('movies.dat', 'r') as movies:
    for line in movies:
        data = line.rstrip().split('::')
        movie_data['id'].append(data[0])
        movie_data['title'].append(data[1])
        movie_data['genres'].append(data[2])
        
movie_data = pd.DataFrame(data=movie_data)

In [25]:
movie_data

        id                               title                        genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [26]:
movie_data['genres'] = movie_data['genres'].apply(lambda x: x.split('|'))

In [27]:
movie_data

,id,title,genres
0,1,Toy Story (1995),"[Animation, Children's, Comedy]"
1,2,Jumanji (1995),"[Adventure, Children's, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama]"
4,5,Father of the Bride Part II (1995),[Comedy]
...,...,...,...
3878,3948,Meet the Parents (2000),[Comedy]
3879,3949,Requiem for a Dream (2000),[Drama]
3880,3950,Tigerland (2000),[Drama]
3881,3951,Two Family House (2000),[Drama]
3882,3952,"Contender, The (2000)","[Drama, Thriller]"

In [28]:
genres = ["Action","Adventure","Animation","Children's","Comedy","Crime","Documentary",
          "Drama","Fantasy","Film-Noir","Horror","Musical","Mystery","Romance","Sci-Fi",
          "Thriller","War","Western"]

for g in genres:
    movie_data.insert(len(movie_data.columns),g,0)

In [29]:
movie_data

,id,title,genres,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),"[Animation, Children's, Comedy]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),"[Adventure, Children's, Fantasy]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),"[Comedy, Drama]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),[Comedy],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),[Comedy],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3879,3949,Requiem for a Dream (2000),[Drama],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3880,3950,Tigerland (2000),[Drama],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3881,3951,Two Family House (2000),[Drama],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3882,3952,"Contender, The (2000)","[Drama, Thriller]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
for i in range(len(movie_data)):
    data = movie_data.iloc[i]
    for g in data['genres']:
        movie_data[g][i] = 1

<ipython-input-35-d9010cb11eca>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_data[g][i] = 1

In [36]:
movie_data

,id,title,genres,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),"[Animation, Children's, Comedy]",0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),"[Adventure, Children's, Fantasy]",0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),"[Comedy, Drama]",0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),[Comedy],0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),[Comedy],0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3879,3949,Requiem for a Dream (2000),[Drama],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3880,3950,Tigerland (2000),[Drama],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3881,3951,Two Family House (2000),[Drama],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3882,3952,"Contender, The (2000)","[Drama, Thriller]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [38]:
movie_data.drop(columns=['genres'], inplace=True)

In [39]:
# load IMDb data

imdb_movies = pd.read_csv('title.basics.tsv', sep='\t', na_values='\\N')

C:\Users\theop\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [40]:
imdb_movies

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1.0,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5.0,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5.0,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12.0,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1.0,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
10904341,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0.0,2009.0,NaN,NaN,"Action,Drama,Family"
10904342,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0.0,2010.0,NaN,NaN,"Action,Drama,Family"
10904343,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0.0,2010.0,NaN,NaN,"Action,Drama,Family"
10904344,tt9916856,short,The Wind,The Wind,0.0,2015.0,NaN,27,Short
10904345,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0.0,2014.0,NaN,10,"Adventure,Animation,Comedy"

In [41]:
imdb_movies = imdb_movies[imdb_movies['titleType'] == 'movie']

In [42]:
imdb_movies

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0.0,1894.0,NaN,45.0,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0.0,1897.0,NaN,100.0,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0.0,1905.0,NaN,100.0,NaN
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,NaN,70.0,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.0,1907.0,NaN,90.0,Drama
...,...,...,...,...,...,...,...,...,...
10904237,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0.0,2015.0,NaN,57,Documentary
10904264,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0.0,2007.0,NaN,100,Documentary
10904276,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0.0,2013.0,NaN,NaN,Comedy
10904286,tt9916730,movie,6 Gunn,6 Gunn,0.0,2017.0,NaN,116,Drama
10904296,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0.0,2013.0,NaN,49,Documentary

In [45]:
imdb_movies.drop(columns=['endYear','titleType', 'originalTitle'], inplace=True)

KeyError: "['endYear' 'titleType'] not found in axis"

In [47]:
imdb_movies.drop(columns='originalTitle', inplace=True)

C:\Users\theop\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [50]:
imdb_movies['title_lc'] = imdb_movies['primaryTitle'].apply(lambda x: x.lower())

movie_data['title_lc'] = movie_data['title'].apply(lambda x: x[:-6].rstrip().lower())

<ipython-input-50-dc74faa9bde5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_movies['title_lc'] = imdb_movies['primaryTitle'].apply(lambda x: x.lower())

In [51]:
print(imdb_movies)
print(movie_data)

             tconst                                       primaryTitle  \
8         tt0000009                                         Miss Jerry
144       tt0000147                      The Corbett-Fitzsimmons Fight
498       tt0000502                                           Bohemios
570       tt0000574                        The Story of the Kelly Gang
587       tt0000591                                   The Prodigal Son
...             ...                                                ...
10904237  tt9916622        Rodolpho Teóphilo - O Legado de um Pioneiro
10904264  tt9916680  De la ilusión al desconcierto: cine colombiano...
10904276  tt9916706                                    Dankyavar Danka
10904286  tt9916730                                             6 Gunn
10904296  tt9916754                     Chico Albuquerque - Revelações

          isAdult  startYear runtimeMinutes                      genres  \
8             0.0     1894.0           45.0                     Romance
144           0.0     1897.0          100.0      Documentary,News,Sport
498           0.0     1905.0          100.0                         NaN
570           0.0     1906.0           70.0  Action,Adventure,Biography
587           0.0     1907.0           90.0                       Drama
...           ...        ...            ...                         ...
10904237      0.0     2015.0             57                 Documentary
10904264      0.0     2007.0            100                 Documentary
10904276      0.0     2013.0            NaN                      Comedy
10904286      0.0     2017.0            116                       Drama
10904296      0.0     2013.0             49                 Documentary

                                                   title_lc
8                                                miss jerry
144                           the corbett-fitzsimmons fight
498                                                bohemios
570                             the story of the kelly gang
587                                        the prodigal son
...                                                     ...
10904237        rodolpho teóphilo - o legado de um pioneiro
10904264  de la ilusión al desconcierto: cine colombiano...
10904276                                    dankyavar danka
10904286                                             6 gunn
10904296                     chico albuquerque - revelações

[685353 rows x 7 columns]
        id                               title  Action  Adventure  Animation  \
0        1                    Toy Story (1995)       0          0          1
1        2                      Jumanji (1995)       0          1          0
2        3             Grumpier Old Men (1995)       0          0          0
3        4            Waiting to Exhale (1995)       0          0          0
4        5  Father of the Bride Part II (1995)       0          0          0
...    ...                                 ...     ...        ...        ...
3878  3948             Meet the Parents (2000)       0          0          0
3879  3949          Requiem for a Dream (2000)       0          0          0
3880  3950                    Tigerland (2000)       0          0          0
3881  3951             Two Family House (2000)       0          0          0
3882  3952               Contender, The (2000)       0          0          0

      Children's  Comedy  Crime  Documentary  Drama  ...  Film-Noir  Horror  \
0              1       1      0            0      0  ...          0       0
1              1       0      0            0      0  ...          0       0
2              0       1      0            0      0  ...          0       0
3              0       1      0            0      1  ...          0       0
4              0       1      0            0      0  ...          0       0
...          ...     ...    ...          ...    ...  ...        ...     ...
3878           0       1      0            0      0  ...          0       0
3879           0       0      0            0      1  ...          0       0
3880           0       0      0            0      1  ...          0       0
3881           0       0      0            0      1  ...          0       0
3882           0       0      0            0      1  ...          0       0

      Musical  Mystery  Romance  Sci-Fi  Thriller  War  Western  \
0           0        0        0       0         0    0        0
1           0        0        0       0         0    0        0
2           0        0        1       0         0    0        0
3           0        0        0       0         0    0        0
4           0        0        0       0         0    0        0
...       ...      ...      ...     ...       ...  ...      ...
3878        0        0        0       0         0    0        0
3879        0        0        0       0         0    0        0
3880        0        0        0       0         0    0        0
3881        0        0        0       0         0    0        0
3882        0        0        0       0         1    0        0

                         title_lc
0                       toy story
1                         jumanji
2                grumpier old men
3               waiting to exhale
4     father of the bride part ii
...                           ...
3878             meet the parents
3879          requiem for a dream
3880                    tigerland
3881             two family house
3882               contender, the

[3883 rows x 21 columns]

In [52]:
imdb_movies.drop_duplicates(subset='title_lc', inplace=True)
imdb_movies.dropna(inplace=True)

movie_data.drop_duplicates(subset='title_lc', inplace=True)

<ipython-input-52-f01f7e599aae>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_movies.drop_duplicates(subset='title_lc', inplace=True)
<ipython-input-52-f01f7e599aae>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_movies.dropna(inplace=True)

In [53]:
print(imdb_movies)
print(movie_data)

             tconst                                       primaryTitle  \
8         tt0000009                                         Miss Jerry
144       tt0000147                      The Corbett-Fitzsimmons Fight
570       tt0000574                        The Story of the Kelly Gang
587       tt0000591                                   The Prodigal Son
672       tt0000679                     The Fairylogue and Radio-Plays
...             ...                                                ...
10904196  tt9916538                                Kuambil Lagi Hatiku
10904237  tt9916622        Rodolpho Teóphilo - O Legado de um Pioneiro
10904264  tt9916680  De la ilusión al desconcierto: cine colombiano...
10904286  tt9916730                                             6 Gunn
10904296  tt9916754                     Chico Albuquerque - Revelações

          isAdult  startYear runtimeMinutes                      genres  \
8             0.0     1894.0           45.0                     Romance
144           0.0     1897.0          100.0      Documentary,News,Sport
570           0.0     1906.0           70.0  Action,Adventure,Biography
587           0.0     1907.0           90.0                       Drama
672           0.0     1908.0          120.0           Adventure,Fantasy
...           ...        ...            ...                         ...
10904196      0.0     2019.0            123                       Drama
10904237      0.0     2015.0             57                 Documentary
10904264      0.0     2007.0            100                 Documentary
10904286      0.0     2017.0            116                       Drama
10904296      0.0     2013.0             49                 Documentary

                                                   title_lc
8                                                miss jerry
144                           the corbett-fitzsimmons fight
570                             the story of the kelly gang
587                                        the prodigal son
672                          the fairylogue and radio-plays
...                                                     ...
10904196                                kuambil lagi hatiku
10904237        rodolpho teóphilo - o legado de um pioneiro
10904264  de la ilusión al desconcierto: cine colombiano...
10904286                                             6 gunn
10904296                     chico albuquerque - revelações

[345797 rows x 7 columns]
        id                               title  Action  Adventure  Animation  \
0        1                    Toy Story (1995)       0          0          1
1        2                      Jumanji (1995)       0          1          0
2        3             Grumpier Old Men (1995)       0          0          0
3        4            Waiting to Exhale (1995)       0          0          0
4        5  Father of the Bride Part II (1995)       0          0          0
...    ...                                 ...     ...        ...        ...
3878  3948             Meet the Parents (2000)       0          0          0
3879  3949          Requiem for a Dream (2000)       0          0          0
3880  3950                    Tigerland (2000)       0          0          0
3881  3951             Two Family House (2000)       0          0          0
3882  3952               Contender, The (2000)       0          0          0

      Children's  Comedy  Crime  Documentary  Drama  ...  Film-Noir  Horror  \
0              1       1      0            0      0  ...          0       0
1              1       0      0            0      0  ...          0       0
2              0       1      0            0      0  ...          0       0
3              0       1      0            0      1  ...          0       0
4              0       1      0            0      0  ...          0       0
...          ...     ...    ...          ...    ...  ...        ...     ...
3878           0       1      0            0      0  ...          0       0
3879           0       0      0            0      1  ...          0       0
3880           0       0      0            0      1  ...          0       0
3881           0       0      0            0      1  ...          0       0
3882           0       0      0            0      1  ...          0       0

      Musical  Mystery  Romance  Sci-Fi  Thriller  War  Western  \
0           0        0        0       0         0    0        0
1           0        0        0       0         0    0        0
2           0        0        1       0         0    0        0
3           0        0        0       0         0    0        0
4           0        0        0       0         0    0        0
...       ...      ...      ...     ...       ...  ...      ...
3878        0        0        0       0         0    0        0
3879        0        0        0       0         0    0        0
3880        0        0        0       0         0    0        0
3881        0        0        0       0         0    0        0
3882        0        0        0       0         1    0        0

                         title_lc
0                       toy story
1                         jumanji
2                grumpier old men
3               waiting to exhale
4     father of the bride part ii
...                           ...
3878             meet the parents
3879          requiem for a dream
3880                    tigerland
3881             two family house
3882               contender, the

[3841 rows x 21 columns]

In [83]:
merged = movie_data.merge(imdb_movies, on='title_lc')

In [58]:
merged

,id,title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,...,Thriller,War,Western,title_lc,tconst,primaryTitle,isAdult,startYear,runtimeMinutes,genres
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,...,0,0,0,toy story,tt0114709,Toy Story,0.0,1995.0,81.0,"Adventure,Animation,Comedy"
1,2,Jumanji (1995),0,1,0,1,0,0,0,0,...,0,0,0,jumanji,tt0113497,Jumanji,0.0,1995.0,104.0,"Adventure,Comedy,Family"
2,3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,...,0,0,0,grumpier old men,tt0113228,Grumpier Old Men,0.0,1995.0,101.0,"Comedy,Romance"
3,4,Waiting to Exhale (1995),0,0,0,0,1,0,0,1,...,0,0,0,waiting to exhale,tt0114885,Waiting to Exhale,0.0,1995.0,124.0,"Comedy,Drama,Romance"
4,5,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,...,0,0,0,father of the bride part ii,tt0113041,Father of the Bride Part II,0.0,1995.0,106.0,"Comedy,Family,Romance"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2537,3946,Get Carter (2000),1,0,0,0,0,0,0,1,...,1,0,0,get carter,tt0067128,Get Carter,0.0,1971.0,112.0,"Action,Crime,Thriller"
2538,3948,Meet the Parents (2000),0,0,0,0,1,0,0,0,...,0,0,0,meet the parents,tt0104844,Meet the Parents,0.0,1992.0,75.0,Comedy
2539,3949,Requiem for a Dream (2000),0,0,0,0,0,0,0,1,...,0,0,0,requiem for a dream,tt0180093,Requiem for a Dream,0.0,2000.0,102.0,Drama
2540,3950,Tigerland (2000),0,0,0,0,0,0,0,1,...,0,0,0,tigerland,tt0170691,Tigerland,0.0,2000.0,101.0,"Drama,War"
2541,3951,Two Family House (2000),0,0,0,0,0,0,0,1,...,0,0,0,two family house,tt0202641,Two Family House,0.0,2000.0,108.0,"Comedy,Drama,Romance"

In [96]:
#merged.genres = merged.genres.apply(lambda x: np.array(x.split(',')))
imdb_genres = merged.genres.values.flatten()
new_genres = np.unique(np.array([x for l in imdb_genres for x in l]))

In [97]:
new_genres

array(['Action', 'Adult', 'Adventure', 'Animation', 'Biography', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir',
       'History', 'Horror', 'Music', 'Musical', 'Mystery', 'Romance',
       'Sci-Fi', 'Sport', 'Thriller', 'War', 'Western'], dtype='<U11')

In [98]:
movie_data.columns

Index(['id', 'title', 'Action', 'Adventure', 'Animation', 'Children's',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western', 'title_lc'],
      dtype='object')

In [100]:
for g in new_genres:
    if g not in movie_data.drop(columns=['id','title', 'title_lc']).columns.values:
        merged.insert(20,g,0)
        
for i in range(len(merged)):
    data = merged.iloc[i]
    for d in data.genres:
        merged[d][i] = 1

<ipython-input-100-b30ba29ac550>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged[d][i] = 1

In [102]:
merged.drop(columns='genres', inplace=True)

In [103]:
merged

,id,title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,...,History,Family,Biography,Adult,title_lc,tconst,primaryTitle,isAdult,startYear,runtimeMinutes
0,1,Toy Story (1995),0,1,1,1,1,0,0,0,...,0,0,0,0,toy story,tt0114709,Toy Story,0.0,1995.0,81.0
1,2,Jumanji (1995),0,1,0,1,1,0,0,0,...,0,1,0,0,jumanji,tt0113497,Jumanji,0.0,1995.0,104.0
2,3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,...,0,0,0,0,grumpier old men,tt0113228,Grumpier Old Men,0.0,1995.0,101.0
3,4,Waiting to Exhale (1995),0,0,0,0,1,0,0,1,...,0,0,0,0,waiting to exhale,tt0114885,Waiting to Exhale,0.0,1995.0,124.0
4,5,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,...,0,1,0,0,father of the bride part ii,tt0113041,Father of the Bride Part II,0.0,1995.0,106.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2537,3946,Get Carter (2000),1,0,0,0,0,1,0,1,...,0,0,0,0,get carter,tt0067128,Get Carter,0.0,1971.0,112.0
2538,3948,Meet the Parents (2000),0,0,0,0,1,0,0,0,...,0,0,0,0,meet the parents,tt0104844,Meet the Parents,0.0,1992.0,75.0
2539,3949,Requiem for a Dream (2000),0,0,0,0,0,0,0,1,...,0,0,0,0,requiem for a dream,tt0180093,Requiem for a Dream,0.0,2000.0,102.0
2540,3950,Tigerland (2000),0,0,0,0,0,0,0,1,...,0,0,0,0,tigerland,tt0170691,Tigerland,0.0,2000.0,101.0
2541,3951,Two Family House (2000),0,0,0,0,1,0,0,1,...,0,0,0,0,two family house,tt0202641,Two Family House,0.0,2000.0,108.0

In [104]:
# parse ratings from IMDb to add as features

imdb_ratings = pd.read_csv('title.ratings.tsv', sep='\t', na_values='\\N')

imdb_ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      2062
1        tt0000002            5.6       279
2        tt0000003            6.5      2030
3        tt0000004            5.4       180
4        tt0000005            6.2      2797
...            ...            ...       ...
1452676  tt9916730            7.0        12
1452677  tt9916766            7.1        23
1452678  tt9916778            7.2        37
1452679  tt9916840            7.2        10
1452680  tt9916880            8.6         8

[1452681 rows x 3 columns]

In [105]:
merged = merged.merge(imdb_ratings, on='tconst')
merged

,id,title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,...,Biography,Adult,title_lc,tconst,primaryTitle,isAdult,startYear,runtimeMinutes,averageRating,numVotes
0,1,Toy Story (1995),0,1,1,1,1,0,0,0,...,0,0,toy story,tt0114709,Toy Story,0.0,1995.0,81.0,8.3,1076040
1,2,Jumanji (1995),0,1,0,1,1,0,0,0,...,0,0,jumanji,tt0113497,Jumanji,0.0,1995.0,104.0,7.1,380028
2,3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,...,0,0,grumpier old men,tt0113228,Grumpier Old Men,0.0,1995.0,101.0,6.6,29870
3,4,Waiting to Exhale (1995),0,0,0,0,1,0,0,1,...,0,0,waiting to exhale,tt0114885,Waiting to Exhale,0.0,1995.0,124.0,6.0,12309
4,5,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,...,0,0,father of the bride part ii,tt0113041,Father of the Bride Part II,0.0,1995.0,106.0,6.1,41937
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2511,3946,Get Carter (2000),1,0,0,0,0,1,0,1,...,0,0,get carter,tt0067128,Get Carter,0.0,1971.0,112.0,7.3,37005
2512,3948,Meet the Parents (2000),0,0,0,0,1,0,0,0,...,0,0,meet the parents,tt0104844,Meet the Parents,0.0,1992.0,75.0,6.7,243
2513,3949,Requiem for a Dream (2000),0,0,0,0,0,0,0,1,...,0,0,requiem for a dream,tt0180093,Requiem for a Dream,0.0,2000.0,102.0,8.3,904200
2514,3950,Tigerland (2000),0,0,0,0,0,0,0,1,...,0,0,tigerland,tt0170691,Tigerland,0.0,2000.0,101.0,6.9,43499
2515,3951,Two Family House (2000),0,0,0,0,1,0,0,1,...,0,0,two family house,tt0202641,Two Family House,0.0,2000.0,108.0,7.2,1734

In [107]:
merged.dropna(inplace=True)
merged

,id,title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,...,Biography,Adult,title_lc,tconst,primaryTitle,isAdult,startYear,runtimeMinutes,averageRating,numVotes
0,1,Toy Story (1995),0,1,1,1,1,0,0,0,...,0,0,toy story,tt0114709,Toy Story,0.0,1995.0,81.0,8.3,1076040
1,2,Jumanji (1995),0,1,0,1,1,0,0,0,...,0,0,jumanji,tt0113497,Jumanji,0.0,1995.0,104.0,7.1,380028
2,3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,...,0,0,grumpier old men,tt0113228,Grumpier Old Men,0.0,1995.0,101.0,6.6,29870
3,4,Waiting to Exhale (1995),0,0,0,0,1,0,0,1,...,0,0,waiting to exhale,tt0114885,Waiting to Exhale,0.0,1995.0,124.0,6.0,12309
4,5,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,...,0,0,father of the bride part ii,tt0113041,Father of the Bride Part II,0.0,1995.0,106.0,6.1,41937
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2511,3946,Get Carter (2000),1,0,0,0,0,1,0,1,...,0,0,get carter,tt0067128,Get Carter,0.0,1971.0,112.0,7.3,37005
2512,3948,Meet the Parents (2000),0,0,0,0,1,0,0,0,...,0,0,meet the parents,tt0104844,Meet the Parents,0.0,1992.0,75.0,6.7,243
2513,3949,Requiem for a Dream (2000),0,0,0,0,0,0,0,1,...,0,0,requiem for a dream,tt0180093,Requiem for a Dream,0.0,2000.0,102.0,8.3,904200
2514,3950,Tigerland (2000),0,0,0,0,0,0,0,1,...,0,0,tigerland,tt0170691,Tigerland,0.0,2000.0,101.0,6.9,43499
2515,3951,Two Family House (2000),0,0,0,0,1,0,0,1,...,0,0,two family house,tt0202641,Two Family House,0.0,2000.0,108.0,7.2,1734

In [123]:
merged.id = merged.id.astype(int)
merged.runtimeMinutes = merged.runtimeMinutes.astype(float)
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2516 entries, 0 to 2515
Data columns (total 34 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              2516 non-null   int32
 1   title           2516 non-null   object
 2   Action          2516 non-null   int64
 3   Adventure       2516 non-null   int64
 4   Animation       2516 non-null   int64
 5   Children's      2516 non-null   int64
 6   Comedy          2516 non-null   int64
 7   Crime           2516 non-null   int64
 8   Documentary     2516 non-null   int64
 9   Drama           2516 non-null   int64
 10  Fantasy         2516 non-null   int64
 11  Film-Noir       2516 non-null   int64
 12  Horror          2516 non-null   int64
 13  Musical         2516 non-null   int64
 14  Mystery         2516 non-null   int64
 15  Romance         2516 non-null   int64
 16  Sci-Fi          2516 non-null   int64
 17  Thriller        2516 non-null   int64
 18  War             2516 non-null   int64
 19  Western         2516 non-null   int64
 20  Sport           2516 non-null   int64
 21  Music           2516 non-null   int64
 22  History         2516 non-null   int64
 23  Family          2516 non-null   int64
 24  Biography       2516 non-null   int64
 25  Adult           2516 non-null   int64
 26  title_lc        2516 non-null   object
 27  tconst          2516 non-null   object
 28  primaryTitle    2516 non-null   object
 29  isAdult         2516 non-null   float64
 30  startYear       2516 non-null   float64
 31  runtimeMinutes  2516 non-null   float64
 32  averageRating   2516 non-null   float64
 33  numVotes        2516 non-null   int64
dtypes: float64(4), int32(1), int64(25), object(4)
memory usage: 678.1+ KB

In [150]:
# parse movie Lens ratings

ratings_data = {'uid': [], 'mid': [], 'rating': [], 'timestamp': []}

with open('ratings.dat', 'r') as ratings:
    for line in ratings:
        data = line.rstrip().split('::')
        ratings_data['uid'].append(data[0])
        ratings_data['mid'].append(data[1])
        ratings_data['rating'].append(data[2])
        ratings_data['timestamp'].append(data[3])
        
ratings_data = pd.DataFrame(data=ratings_data)

In [151]:
ratings_data.drop(columns='timestamp', inplace=True)

In [152]:
ratings_data.uid = ratings_data.uid.astype(int)
ratings_data.mid = ratings_data.mid.astype(int)
ratings_data.rating = ratings_data.rating.astype(float)

In [153]:
ratings_data

          uid   mid  rating
0           1  1193     5.0
1           1   661     3.0
2           1   914     3.0
3           1  3408     4.0
4           1  2355     5.0
...       ...   ...     ...
1000204  6040  1091     1.0
1000205  6040  1094     5.0
1000206  6040   562     5.0
1000207  6040  1096     4.0
1000208  6040  1097     4.0

[1000209 rows x 3 columns]

In [154]:
ratings_data = ratings_data.merge(merged, right_on='id', left_on='mid')[['uid','mid','rating']]
ratings_data

         uid   mid  rating
0          1  1193     5.0
1          2  1193     5.0
2         12  1193     4.0
3         15  1193     4.0
4         17  1193     5.0
...      ...   ...     ...
703140  5556  2198     3.0
703141  5949  2198     5.0
703142  5675  2703     3.0
703143  5851  3607     5.0
703144  5938  2909     4.0

[703145 rows x 3 columns]

In [155]:
new_uids = ratings_data.groupby('uid')['uid'].count()

In [156]:
new_uids = new_uids[new_uids > 10]
new_uids

uid
1        40
2        91
3        33
4        16
5       133
       ...
6036    600
6037    135
6038     13
6039     82
6040    228
Name: uid, Length: 6034, dtype: int64

In [160]:
ratings_data = ratings_data[ratings_data['uid'].isin(new_uids)]
ratings_data

        uid   mid  rating
2        12  1193     4.0
3        15  1193     4.0
4        17  1193     5.0
5        18  1193     4.0
6        19  1193     5.0
...     ...   ...     ...
701467  677  3803     4.0
701571  727  2509     3.0
701651  709  2061     5.0
701877  838  3319     4.0
702040  838  2538     5.0

[60640 rows x 3 columns]

In [162]:
ratings_data.groupby('uid')['uid'].count().min()

9